@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin media($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
